.list {
  max-width: 500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  list-style: none;
  margin-bottom: 30px;
}
.item {
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
}
.color {
  margin: 0 auto 15px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.price {
  background-color: sandybrown;
  color: black;
  text-align: right;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.button {
  width: 100%;
}
.buttonWrap {
  display: flex;
  justify-content: center;
}
