.color {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: inset 0 0 25px 25px rgba(0, 0, 0, 0.2);
}
.prodWrap {
  margin: 0 auto;
  max-width: 600px;
}
.price {
  display: block;
}
.numberInput {
  width: 30px;
}
