.button {
  background-color: transparent;
  height: 30px;
  font-size: 12px;
  border: 1px solid salmon;
  padding: 0 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  background-color: rgb(255, 155, 155);
  color: #333;
}
